.card{
    width: 18rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: none;
    background-color: inherit;
}
.card_image{
    width: 100%;
    height: 25rem;
    overflow: hidden;
    position: relative;
}
.card_image > span{
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    color:black;
    padding: 3px 5px;
    z-index: 10;
    font-weight: 500;
    font-size: 12px;
}
.card > h3{
    margin-top: 0.5rem;
    margin-bottom: 0px;
    font-size: 18px;
}
.card_image:hover > .card_secondImg{
    z-index: 2;
}
.card_mainImg, .card_secondImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.card_mainImg{
    z-index: 1;
}
.card_prices{
    display: flex;
    gap: 0.5rem;
}
.oldPrice, .newPrice{
    font-size: 20px;
    font-weight: 500;
}
.oldPrice{
    text-decoration: line-through;
    color: gray;
}
@media screen and (max-width: 768px) {
    .card{
        width: 15rem;
    }
}
@media screen and (max-width: 576px) {
    .card{
        width: 18rem;
    }
}