.fixedNavBarContainer {
    background-color: rgba(66, 66, 66, 0.2);
    height: 3rem;
    width: 13rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 4rem;
    right: 2rem;
    z-index: 1000;
    border-radius: 2rem;
    backdrop-filter: blur(10px);
}
.fixedIconsButton {
    background-color: transparent;
    width: 20%;
    height: 85%;
    border-radius: 3rem;
    transition: 0.3s ease-in-out;
}
.fixedIconsButton:hover {
    background-color: rgb(116, 115, 115); 
}
.fixedIconsButton.rotate{
    transform: rotate(45deg) !important;
}
.fixedIcons {
    color: white;
    background: transparent;
    font-size: 25px;
}
.cartNum,
.wishListNum {
    position: absolute;
    top: 5px;
    right: 8px;
    width: 1.1rem;
    height: 1.1rem;
    background-color: rgb(37, 37, 37);
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: white;
    font-weight: 500;
}
.wishListNum {
    right: 3.7rem;
}
.searchBarContainer{
    margin-right: 1rem;
    background-color: transparent;
}
.searchBar{
    width: 7.75rem;
    border-radius: 10px;
    background-color: rgb(248, 248, 241);
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2rem;
}
@media screen and (max-width: 992px) {
    .fixedNavBarContainer {
        flex-direction: column;
        height: 13rem;
        width: 3rem;
        top: 8rem;
        right: 0.5rem;
    }
    .fixedIconsButton {
        width: 85%;
        height: 20%;
    }
    .fixedIcons {
        font-size: 20px;
    }
    .wishListNum {
        top: 7rem;
        right: 4px;
    }
    .cartNum {
        top: 10rem;
        right: 4px;
    }
    .searchBarContainer{
        position: absolute;
        top: 10%;
        right: 4rem;
    }
    .searchBar{
        background-color: rgba(66, 66, 66, 0.8);
        width: 55vw;
        color: white;
    }
    .searchBar::placeholder{
        color: white;
    }
}
