.footer_container{
    text-align: center;
}
.categories_span_title{
    font-size: 1.3rem;
    font-weight:400;
    display: block;
    position: relative;
    text-align:left;
}
.categories_span{
    display: block;
    position: relative;
    text-align:left;
    font-size: 1rem;
    color: rgb(119, 118, 118);
}
.categories_span:hover{
    cursor: pointer;
}
.about_para {
    display: block;
    position: relative;
    text-align: justify;
    font-size: 1rem;
    color: rgb(119, 118, 118);
    line-height: 1.3rem;
}
.footer_payment_logos{
    width: 30rem;
}